body {
    font-family: 'Public Sana', sans-serif;
    display: grid;
    grid-template-areas: "cabecalho cabecalho cabecalho cabecalho"
        "secao-icones secao-icones secao-icones secao-icones"
        "projetos projetos projetos projetos "
        "quem-somos quem-somos quem-somos quem-somos"
        "contato contato contato contato"
        "rodape rodape rodape rodape";
    grid-template-columns: repeat(4.1fr);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

a {
    text-decoration: nome;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/*cabecalho-container-header*/

.cabecalho {
    grid-template-areas: cabecalho-container;


}

.cabecalho-container {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
    margin-left: 105px;
    margin-right: 105px;

}

.cabecalho .logo {
    display: flex;
    align-items: center;
    margin: 15px;

}

.cabecalho h1 {
    transition: 0.3s;
    margin: 35px;

}

.cabecalho a:hover h1 {
    color: blue;


}

.cabecalho .menu {
    display: flex;

}

.cabecalho .navegacao .menu .item {
    margin: 20px;

}

.cabecalho .navegacao .menu .item a {
    padding: px;




}

.cabecalho .navegacao .menu .item a:hover {
    background-color: aqua;
    color: aliceblue;

}

/*secao-icones*/
.secao-icones {
    grid-area: secao-icones;
    background-color: rgb(138, 13, 107);
}

/*quem-somos*/
.quem-somos {
    grid-area: quem-somos;
    background-color: rgb(214, 106, 17);
}

/*Contato*/
.contato {
    grid-area: contato;
    background-color: rgb(195, 228, 10);
}

/*rodape*/
.rodape {
    grid-area: rodape;
    background-color: rgb(9, 121, 84);
}